[Unit]
Description=Service to start driving the robot with Joystick
After=syslog.target network.target
[Service]
LimitMEMLOCK=102400
LimitMEMLOCKSoft=102400
LimitRTPRIO=99
LimitRTPRIOSoft=99
ExecStart=/bin/bash /opt/stanley2/scripts/flo-drive-start
Restart=on-failure
RestartSec=10s
User=root
[Install]
WantedBy=multi-user.target
